'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Ability Manifest'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-manifest:toggle'
        }
      ]
    ]
  }
]
